mat-toolbar {
    border-top: 4px solid $primary;
    &.menu {
        display: flex;
        justify-content: space-between;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-flex;
                border-right: 1px solid #ccc;
                height: 100%;
                float: left;
                &:last-child {
                    border-right: 0;
                }
                a,
                button {
                    padding: 10px 20px;
                    border-radius: 0;
                    border: 0;
                    line-height: inherit;
                    color: $black;
                    font-size: 13px;
                    font-weight: normal;
                    outline: none;
                    &.logo {
                        color: $primary;
                        font-size: 17px;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                }
            }
        }
    }
}