<div class="mat-typography">
    <h1>Mon compte {{ idUser }}</h1>

    <div class="updateUserForm">
        <form novalidate [formGroup]="updateUserForm" (ngSubmit)="updateUser();">
            <mat-tab-group>
                <mat-tab label="Identité">
                    <identite-form (formReady)="formInitialized('identity', $event)"></identite-form>
                </mat-tab>
                <mat-tab label="Adresse">
                    <adresse-form (formReady)="formInitialized('address', $event)"></adresse-form>
                </mat-tab>
                <mat-tab label="Contact">
                    <contact-form (formReady)="formInitialized('contact', $event)"></contact-form>
                </mat-tab>
            </mat-tab-group>
            <button type="submit" class="btn btn-sm waves-effect btn-info float-right" [disabled]="!updateUserForm.valid">Mettre à jour</button>
        </form>
    </div>

    <!--h2 class='mat-h2'>Form Value</h2>
    <pre>
      {#{updateUserForm.value | json}#}
    </pre-->
</div>