<form novalidate [formGroup]="formationForm" (ngSubmit)="addProduct()">
    <h2>Nouvelle Formation</h2>
    <mat-tab-group>
        <mat-tab label="Données">
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <label>Titre</label>
                        <input matInput type="text" placeholder="Titre" formControlName='title'>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <label>Description</label>
                        <input matInput type="text" placeholder="Description" formControlName='description'>
                    </mat-form-field>
                </div>


                <div class="col-6">
                    <mat-form-field>
                        <label>Prix</label>
                        <input matInput type="text" placeholder="Prix" formControlName='price'>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <label>Prix Promotionel</label>
                        <input matInput type="text" placeholder="Prix Promotionel" formControlName='promotionPrice'>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <label>Catégories</label>
                        <input matInput type="text" placeholder="Catégories" formControlName='categoriesId'>
                    </mat-form-field>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Chapitres">
            <div class="row">
                <div class="col-6">
                    <div formArrayName="chapiters">
                        <h3>Chapitres</h3>
                        <div *ngFor="let chapiter of chapiters.controls; let i=index">
                            <!-- The repeated alias template -->
                            <div [formGroupName]="i">
                                <mat-form-field>
                                    <label>Titre {{ i }} :</label>
                                    <input matInput type="text" placeholder="Titre" formControlName="title">
                                </mat-form-field>

                                <mat-form-field>
                                    <label>Description {{ i }} :</label>
                                    <input matInput type="text" placeholder="Description" formControlName="description">
                                </mat-form-field>
                            </div>
                        </div>
                        <a (click)="addChapiter()">Ajouter Chapitre</a>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <button type="submit" [disabled]="!formationForm.valid">Ajouter</button>
</form>

<pre>
  {{formationForm.value | json}}
</pre>