<div class="container">
    <div class="row">
        <div class="col-12">
            <form novalidate [formGroup]="formationForm" (ngSubmit)="addFormation()">
                <h2>Nouvelle Formation</h2>
                <mat-tab-group>
                    <!--Tab Données-->
                    <mat-tab label="Données">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="true">Active</mat-radio-button>
                                        <mat-radio-button value="false">Inactive</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Titre" formControlName='title'>
                                    </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <mat-form-field>
                                        <textarea matInput type="text" placeholder="Description" formControlName='description'></textarea>
                                    </mat-form-field>
                                </div>


                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Prix" formControlName='price'>
                                    </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Prix Promotionel" formControlName='promotionPrice'>
                                    </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Catégories" formControlName='categoriesId'>
                                    </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <!--input #fileInput type="file" name="photo" ng2FileSelect [uploader]="uploader" formControlName="image" />
                                    <a (click)="fileInput.click()">Select File</a-->
                                    <div class="btn btn-primary btn-sm float-left">
                                        <span>Choisir Image</span>
                                        <input type="file" multiple #fileInput name="photo" ng2FileSelect [uploader]="uploader" formControlName="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <!--/Tab Données-->
                    <!--Tab Chapiters-->
                    <mat-tab label="Chapitres">
                        <div class="container">
                            <div formArrayName="chapiters">
                                <h2>Chapitres</h2>
                                <!--List Chapiters-->
                                <div *ngFor="let chapiter of chapiters.controls; let iChapiter = index">
                                    <div class="row" [formGroupName]="iChapiter" class="itemChapiter">
                                        <div class="col-12">
                                            <mat-form-field>
                                                <input matInput type="text" placeholder="Titre" formControlName="title">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-12">
                                            <mat-form-field>
                                                <textarea matInput placeholder="Description" formControlName="description">
                                                </textarea>
                                            </mat-form-field>
                                        </div>

                                        <!-- Lessons -->
                                        <div class="col-12" formArrayName="lessons">
                                            <h2>Cours</h2>
                                            <!--List Leçons-->
                                            <div *ngFor="let lessson of chapiter['controls'].lessons['controls']; let iLesson = index">
                                                <div class="container">
                                                    <div formGroupName="{{iLesson}}" class="list-Lessons row">
                                                        <div class="col-6">
                                                            <mat-form-field>
                                                                <input matInput type="text" placeholder="Titre" formControlName="title">
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-6">
                                                            <mat-form-field>
                                                                <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-6">
                                                            <!--a (click)="fileInput.click()">Select File</a-->
                                                            <div class="btn btn-primary btn-sm float-left">
                                                                <span>Choisir Video</span>
                                                                <input type="file" #fileInput name="photo" ng2FileSelect [uploader]="uploader" formControlName="video">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/List Leçons-->
                                            <a class="btn btn-sm waves-effect btn-info float-right" (click)="addLesson(iChapiter)">+ Cours</a>
                                        </div>
                                        <!--/lessons-->
                                    </div>
                                </div>
                                <!--/List Chapiter-->
                            </div>
                            <a type="button" class="btn btn-sm waves-effect btn-info float-left" (click)="addChapiter()">+ Chapitre</a>
                        </div>
                    </mat-tab>
                    <!--/Tab Chapiters-->
                </mat-tab-group>
                <button type="submit" class="btn btn-sm waves-effect btn-info float-right" [disabled]="!formationForm.valid">Ajouter</button>
                <!--button type="submit" [disabled]="!formationForm.valid">Ajouter</button-->
            </form>

            <!--pre>
            {#{formationForm.value | json}#}
            </pre-->
        </div>
    </div>
</div>