<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>
<!--h1>Material</h1>
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Simple Input" [(ngModel)]="title">
</mat-form-field>

<mat-icon>home</mat-icon>

<button mat-raised-button>I'm a button</button>

<mat-form-field>
    <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
        <mat-option *ngFor="let item of items" [value]="item.value">
            {{ item.view }}
        </mat-option>
    </mat-select>
</mat-form-field>
<h1>bootstrap</h1>
<h2>Alert NGB bootstrap</h2>
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Sample alert.
    </ngb-alert>
</p>

<h2>Tableau</h2>

<div class="container">
    <table class="table table-dark table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Steve Smith</td>
                <td>28</td>
            </tr>
            <tr>
                <td>David Warner</td>
                <td>29</td>
            </tr>
            <tr>
                <td>Joe Root</td>
                <td>27</td>
            </tr>
        </tbody>
    </table>
</div-->