<div class="bc-carrousel">
    <!--Catégorie-->
    <h3>{{ titre }}</h3>
    <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="row">
                <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
                    <mdb-card class="my-1">
                        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                        <mdb-card-body>
                            <mdb-card-title>
                                <h4>{{card.title}}</h4>
                            </mdb-card-title>
                            <div class="vignette-auteur">Fayçal Jebali</div>
                            <div class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                            </div>
                            <div class="vignette-prix">
                                <span [class.ancien-prix]="card.prixPromotion">{{card.prix}}€</span>
                                <span *ngIf="card.prixPromotion">{{card.prixPromotion}}€</span>
                            </div>
                            <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a> -->
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>