<div class="container" [formGroup]='adresseForm'>
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Country" formControlName='country'>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="City" formControlName='city'>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Address" formControlName='address'>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Zip" formControlName='zip'>
            </mat-form-field>
        </div>
    </div>
</div>