<div class="row" [formGroup]="identiteForm">
  <div class="col-6">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Civilité *"
        formControlName="civility"
      />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Nom *"
        formControlName="lastname"
      />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Prénom *"
        formControlName="firstname"
      />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Naissance"
        formControlName="birthday"
      />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Situation Familiale"
        formControlName="familysituation"
      />
    </mat-form-field>
  </div>
</div>
