<nav>
    <a [routerLink]="['/administrator/user/new']" class="btn btn-sm waves-effect btn-info float-right">Nouveau</a>
</nav>
<div class="mat-typography">
    <h1>Utilisateurs</h1>
    <table mat-table [dataSource]="allUser" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.identity.lastname}} {{element.identity.firstname}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Rôle </th>
            <td mat-cell *matCellDef="let element"> <span *ngFor="let role of element.role">{{ role }} -</span> </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/administrator/user/edit/', element._id]">Edit</a> |
                <a (click)="deleteUser(element._id)">Supprimer</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>