<section class="text-center bg-banniere">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bc-banniere">
                <h1 class="banniere-heading">Donnez-vous les moyens de réussir.</h1>
                <p class="lead banniere-text">De la programmation à la photographie, suivez des cours en lignes approfondis et accomplissez vos objectifs grâce à vos compétences.</p>
                <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p> -->
            </div>
        </div>
    </div>
</section>