<header>
  <mat-toolbar class="menu">
    <ul class="menu-left">
      <li>
        <a class="logo" routerLink="/">Mes E-cours</a>
      </li>
      <li>
        <!--catégories-->
        <!-- <button mat-button [matMenuTriggerFor]="categoriesMenu">Catégories</button>

                <mat-menu #categoriesMenu="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="G1">Groupe Catégorie 1</button>
                    <button mat-menu-item [matMenuTriggerFor]="G2">Groupe Catégorie 2</button>
                </mat-menu>

                <mat-menu #G1="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="c1">Catégorie 1</button>
                    <button mat-menu-item [matMenuTriggerFor]="c2">Catégorie 2</button>
                    <button mat-menu-item>Catégorie 3</button>
                    <button mat-menu-item></button>
                </mat-menu>

                <mat-menu #G2="matMenu">
                    <button mat-menu-item>Catégorie 4</button>
                    <button mat-menu-item>Catégorie 5</button>
                    <button mat-menu-item>Catégorie 6</button>
                </mat-menu>

                <mat-menu #c1="matMenu">
                    <button mat-menu-item>Catégorie 1-1</button>
                    <button mat-menu-item>Catégorie 1-2</button>
                </mat-menu> -->
        <!--Fin catégories-->
      </li>
    </ul>
    <ul class="menu-right">
      <li>
        <a
          class="nav-link"
          routerLink="administrator"
          routerLinkActive="active"
          *ngIf="auth?.loggedIn"
          >Admin</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          [routerLink]="['courses']"
          routerLinkActive="active"
          *ngIf="auth?.loggedIn"
          >Formations</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          [routerLink]="['my-account']"
          routerLinkActive="active"
          *ngIf="auth?.loggedIn"
          >Mon Compte</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          [routerLink]="['my-account', 'courses']"
          routerLinkActive="active"
          *ngIf="auth?.loggedIn"
          >Mes courses</a
        >
      </li>
      <li>
        <a class="nav-link" (click)="logout()" *ngIf="auth?.loggedIn">Logout</a>
      </li>
      <li>
        <app-login></app-login>
      </li>
    </ul>
  </mat-toolbar>
</header>
