$primary: hsl(346, 100%, 63%);
$secondary: #314655;
$danger: #f53d3d;
$border: #EFEFEF;
$dark: #222;
$header: rgba(38, 38, 38, 1);
$error: #E0343D;
$description: #5f5757;
$image-overlay: rgba(0, 0, 0, 0.2);
$background: rgb(38, 38, 38);
$light: #f4f4f4;
$title: #ffffff;
$white: #ffffff;
// Or Overrides like this
$primary-font: 'Avenir Next';
$title-font: 'Arial Black';
$navbar-ios-height: 35px;
$navbar-md-height: 50px;
$toolbar-ios-height: 35px;
$toolbar-md-height: 50px;