/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "src/assets/variables.scss";
@include mat-core();
$primary-theme: mat-palette($mat-lime,
500);
$accent: mat-palette($mat-lime,
500,
A200,
A400);
$warn: mat-palette($mat-red,
500);
$config: mat-typography-config();
$theme: mat-light-theme($primary-theme,
$accent,
$warn);
@include angular-material-theme($theme);
body {
    font-family: mat-font-family($config);
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}


/* carrousel*/

mdb-card {
    .card {
        border: 0;
        border-radius: 0 !important;
    }
}


/*****MODAL****/

.modal-content .close {
    position: absolute;
    top: -20px;
    right: -20px !important;
    z-index: 9999;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    /* font-size: 20px; */
    background: $primary;
    opacity: 1 !important;
    box-shadow: 0 1px 0 $black;
    span {
        color: $white;
        text-shadow: 0 1px 0 $black;
        font-size: 23px !important;
    }
}

.modal-body {
    padding: 0 !important;
}