header {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
  display: inline-block !important;
  line-height: 23px;
  padding: 15px;
  transition: all 0.5s ease 0s;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-top i {
  font-size: 18px;
}

.header-top {
  margin: 0;
  padding-top: 2px;
}

.header-top img {
  border-radius: 50%;
  max-width: 48px !important;
  width: 100%;
}

.add-project {
  background: #5584ff none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 27px 10px 45px;
  position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
  background: none;
  text-decoration: none;
}

.header-top i {
  color: #0e1a35;
}

.header-top li {
  display: inline-block;
  text-align: center;
}

.header-top .dropdown-toggle {
  color: #0e1a35;
}

.header-top .dropdown-menu {
  border: medium none;
  left: -85px;
  padding: 17px;
}

.search input {
  border: none;
  font-size: 15px;
  padding: 15px 9px;
  width: 100%;
  color: #8492af;
}
