<header>
  <div class="row">
    <div class="col-md-7">
      <div class="search hidden-xs hidden-sm">
        <input type="text" placeholder="Search" id="search" />
      </div>
    </div>
    <div class="col-md-5">
      <div class="header-rightside">
        <ul class="list-inline header-top pull-right">
          <li>
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ auth?.getCurrentUser().identity.firstname }}
            {{ auth?.getCurrentUser().identity.lastname }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
