<div class="card bc-carrousel">
    <a [routerLink]="['details', card._id]"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['details', card._id]">{{card.title}}</a>
        </h4>
        <div class="vignette-prix">
            <span [class.ancien-prix]="card.promotionPrice">{{card.price}}€</span>
            <span *ngIf="card.promotionPrice">{{card.promotionPrice}}€</span>
        </div>
        <p class="card-text">{{ card.description }}</p>
    </div>
    <div class="card-footer">
        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big tim">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
        </div>
    </div>
</div>