<nav>
  <a
    [routerLink]="['/administrator/category/all']"
    class="btn btn-sm waves-effect btn-info float-right"
    >Catégories</a
  >
</nav>
<div class="mat-typography">
  <h1>Nouveau Catégorie</h1>
  <div class="newForm container">
    <form
      novalidate
      [formGroup]="newForm"
      (ngSubmit)="newCategory()"
      class="row"
    >
      <div class="col-12">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Titre *"
            formControlName="title"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <ckeditor
          [editor]="Editor"
          [config]="configEditor"
          placeholder="Description *"
          formControlName="description"
        ></ckeditor>
      </div>
      <div class="col-12">
        <div class="btn btn-primary btn-sm btn-file float-left">
          <input multiple type="file" (change)="onFileChange($event)" />
        </div>
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Parent :</mat-label>
          <select matNativeControl formControlName="parent">
            <option
              *ngFor="let category of allCategories"
              [value]="category._id"
            >
              {{ category.title }}
            </option>
          </select>
        </mat-form-field>
      </div>
      <button
        type="submit"
        class="btn btn-sm waves-effect btn-info float-right"
        [disabled]="!newForm.valid"
      >
        Ajouter
      </button>
    </form>
  </div>
</div>
